<!-- form-profile.html -->
<div class="form-group">
    <div>
        <h3>Select the accounts you want to register as yours</h3>
    </div>
    <div class="row gap">
        <div class="col-xs-2">
            <img src="../images/social/twitter.png" ng-click="addRow('twitter')"/>
        </div>
        <div class="col-xs-2">
            <img src="../images/social/facebook.png" ng-click="addRow('facebook')"/>
        </div>
        <div class="col-xs-2">
            <img src="../images/social/github.png" ng-click="addRow('github')"/>
        </div>
        <div class="col-xs-2">
            <img src="../images/social/instagram.png" ng-click="addRow('instagram')"/>

        </div>
        <div class="col-xs-2">
            <img src="../images/social/bitcoin.png" ng-click="addRow('bitcoin')"/>

        </div>
        <div class="col-xs-2">
            <img src="../images/social/nem.png" ng-click="addRow('nem')"/>
        </div>
    </div>
    <div class="row gap">
        <div ng-repeat="social in selectedSocialNetworks" class="col-md-12 gap-xs">
            <img class="pull-left" ng-if="social.name == 'twitter'" src="../images/social/twitter.png" ng-click="addRow('twitter')"/>
            <img class="pull-left" ng-if="social.name == 'facebook'" src="../images/social/facebook.png" ng-click="addRow('facebook')"/>
            <img class="pull-left" ng-if="social.name == 'github'" src="../images/social/github.png" ng-click="addRow('github')"/>
            <img class="pull-left" ng-if="social.name == 'instagram'" src="../images/social/instagram.png" ng-click="addRow('instagram')"/>
            <img class="pull-left" ng-if="social.name == 'bitcoin'" src="../images/social/bitcoin.png" ng-click="addRow('bitcoin')"/>
            <img class="pull-left" ng-if="social.name == 'nem'" src="../images/social/nem.png" ng-click="addRow('nem')"/>

            <div class="pull-left" style="display: block; margin-left: 20px;">
                <input class="form-control " type="text" ng-model="social.account" placeholder="Account" style="width: 400px; max-width: 100%"/>
            </div>
        </div>
    </div>
    <div class="row gap">
        <button  class="btn btn-block btn-info gap-xs" ng-click="changeFormView(3)">
            Register <span class="glyphicon" ></span>
        </button>
    </div>
</div>