<div class="alert alert-danger" ng-show="showAlreadyExistsAlert">
    <strong>Error!</strong> That alias is already registered :(
</div>

<!-- form-profile.html -->
<div class="form-group">
    <div class="col-md-6">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="formData.profile.name" placeholder="Jhon Doe">
        <label class="gap-xs">ID Number</label>
        <input type="text" class="form-control" ng-model="formData.profile.idnumber" placeholder="4675432F">
        <label class="gap-xs">Country</label>
        <select ng-model="formData.profile.country" pvp-country-picker style="max-width: 100%;"></select>
    </div>
    <div class="col-md-6 mobile-gap">
        <label>Alias</label>
        <input type="text" class="form-control" ng-model="formData.alias" placeholder="jhon">
    </div>

    <div class="col-md-12">
        <button  class="btn btn-block btn-info gap-xs" ng-disabled="!formData.profile.name || !formData.profile.idnumber || !formData.profile.country" ng-click="checkIfAliasAlreadyExists()">
            Continue <span class="glyphicon" ></span>
        </button>
    </div>
</div>